<div class="box">
    <h3> View Employee Details:</h3>
</div>

<div class="table table-striped">
   <table style="width: 100%">
       <tr>
           <td><b>Employee Name</b></td>
           <td>{{employee.employeeName}}</td>
       </tr>
       <tr>
           <td><b>Email</b></td>
           <td>{{employee.email}}</td>
       </tr>
       <tr>
           <td><b>Contact</b></td>
           <td>{{employee.contactNo}}</td>
       </tr>
       <tr>
        <td><b>City</b></td>
        <td>{{employee.city}}</td>
    </tr>
    <tr>
        <td><b>Gender</b></td>
        <td>{{employee.gender}}</td>
    </tr>
    <tr>
        <td><b>Date Of Birth</b></td>
        <td>{{employee.dateOfBirth}}</td>
    </tr>
    <tr>
        <td><b>Position</b></td>
        <td>{{employee.position}}</td>
    </tr>
    
   </table>
   <br>
   <a href="employees" class="btn btn-success" style="margin-left: 43%;" >Back</a>
</div>
