body{

    background-image: url("C:\Users\VIVEGA\OneDrive\Desktop\Angular Project\employeeProject\employeeProject\src\assets\bg image.jpg") ;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
